<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Quản lý tuyển dụng - Work CV</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/pop-up.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="_csrf" th:content="${_csrf.token}" />
	<script src="/assets/js/pop-up.js"></script>
</head>

<body>
	<!--Thêm navbar -->
	
	<nav th:replace="fragments :: navbar"></nav>
	<!--Pop up cập nhật thông tin công việc -->

	<div id="popup" class="popup" style="display: none">
		<div class="iframe-container">
			<!-- nút đóng -->
			<button type="button" class="btn btn-primary btn-circle close-icon" data-dismiss="modal"
				onclick="hidePopup()">
				<i class="fas fa-times"></i>
			</button>
			<!-- iframe để hiển thị trang khác trong pop up -->
			<iframe id="popup-iframe" src="" width="100%" height="650px"></iframe>
			<!--<div id="popup-iframe" src="" width="100%" height="650px"></div>-->

		</div>
	</div>
	<!--Danh sách công vi-->
	<div class="container">
		<h3 class="mt-2">Danh sách công việc</h3>
		<div>
			<table class="table  table-hover">
				<thead>
					<tr class="d-flex">
						<th class="col-3">Tiêu đề</th>
						<th class="col-1">Loại</th>
						<th class="col-3">Địa điểm làm việc</th>
						<th class="col-2">Lương</th>
						<th class="col-3">Thao tác</th>
					</tr>
				</thead>
				<tbody>
					<!-- Sử dụng vòng lặp để hiển thị thông tin công việc -->
					<tr th:each="job : ${jobs}" class="d-flex">
						<td th:text="${job.title}" class="col-3"></td>
						<td th:text="${job.type}" class="col-1"></td>

						<td class="col-3" th:text="${job.address}">

						</td>
						<td th:text="${job.salary}" class="col-2"></td>
						<td class="col-3">
							<a th:href="@{/job/details/{jobId}(jobId=${job.id})}" class="btn btn-primary">Chi tiết</a>

							<!--<a th:href="@{/job/employer/edit-jd/{jobId}(jobId=${job.id})}" class="btn btn-warning"
								target="_blank">Cập nhật</a>-->
							<button class="btn btn-warning" th:onclick="'showEditJobForm(' + ${job.id} + ')'">Cập
								nhật</button>


							<button class="btn btn-danger" th:onclick="'deleteJob(' + ${job.id} + ')'">Xoá</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>




	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		<!--Xử lý yêu cầu xoá một công việc-->
		function deleteJob(jobId) {
			var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
			if (confirm("Bạn có chắc muốn xoá công việc này không?")) {
				// Gửi yêu cầu DELETE đến server
				fetch('deleteJob/' + jobId, {
					method: 'DELETE',
					headers: {
						'X-CSRF-TOKEN': csrfToken
					}
				})
					.then(response => {
						if (response.ok) {
							// Xoá thành công, có thể cập nhật giao diện nếu cần
							// Ví dụ: reload danh sách công việc
							location.reload();
						} else {
							// Xử lý khi có lỗi xoá công việc
							console.error('Xoá công việc thất bại');
						}
					})
					.catch(error => {
						console.error('Lỗi khi xoá công việc:', error);
					});
			}
		}

		function showEditJobForm(jobId) {
			var url = '/job/employer/edit-jd/' + jobId;

			var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');

			// Tạo headers với X-CSRF-TOKEN
			var headers = new Headers();
			headers.append('X-CSRF-TOKEN', csrfToken);

			fetch(url, {
				method: 'GET',
				headers: headers
			})
				.then(response => {
					if (response.ok) {
						return response.text();
					}
					throw new Error('Network response was not ok.');
				})
				.then(data => {
					// Hiển thị kết quả trong popup
					// Thiết lập src của iframe để hiển thị nội dung của trang cập nhật công việc
					var iframe = document.querySelector('#popup-iframe');
					iframe.srcdoc = data;

					// Hiển thị popup
					document.getElementById("popup").style.display = "block";
				})
				.catch(error => {
					console.error('There has been a problem with your fetch operation:', error);
				});
		}

	</script>

</body>

</html>